version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongodb
      - redis
    networks:
      - mern_net

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    networks:
      - mern_net

  mongodb:
    image: mongo:6
    container_name: mongo
    ports:
      - "27017:27017"
    networks:
      - mern_net

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    networks:
      - mern_net

networks:
  mern_net:
