:root {
  --primary_color: #007bff;
  --primary_color_1: #0a68cd;
  --err_color: #dc143c;
  --err_color_1: #ce0029;

  --white_color: #fff;
  --black_color: #000;
  --fade_black_color: rgba(0, 0, 0, 0.8);
  --gray_color: rgba(0, 0, 0, 0.1);
  --lightgray_color: rgb(0, 0, 0,.07);
}