@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: rgb(245, 245, 245);
}
@keyframes spinner {
  to {
    transform: rotateZ(-360deg);
  }
}
.h_full{
  height: 100vh;
}

.primary_clr {
  color: #1b49e1;
}
.primary_bg_clr{
  background-color: #1b49e1;
}
.err_clr{
  color: crimson;
}
.err_bg_clr{
  background-color: crimson;
}
.success_clr{
  color: green;
}

::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background: #e7e7e7;
}
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 0.3rem;
}


