@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@import './colors.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  background-color: rgb(245, 245, 245);
}
@keyframes spinner {
  to {
    transform: rotateZ(-360deg);
  }
}
.hFull{
  height: 100vh;
}

.primaryColor {
  color: #1b49e1;
}
.primaryBgColor{
  background-color: #1b49e1;
}
.errColor{
  color: crimson;

}
.errBgColor{
  background-color: crimson;
}
.errBgColorHover{
  background-color: rgb(238, 47, 85);
}
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background: #e7e7e7;
}
::-webkit-scrollbar-thumb {
  background: rgb(200, 200, 200);
  border-radius: 0.3rem;
}


