.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #fff;
  height: 4rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
  z-index: 9;
  box-shadow: 0 .1rem .2rem rgb(0, 0, 0,.1);
}
.left {
  padding-left: 2rem;
}

.left h3 {
  font-family: "Space Mono", monospace;
  font-size: 1.4rem;
  color: #007bff;
  letter-spacing: 0.1rem;
}
.left a {
  text-decoration: none;
}

.searchContainer {
  display: flex;
  align-items: center;
  border: 1px solid gray;
  border-radius: 0.2rem;
  padding: 0 0.5rem;
  width: 20rem;
}
.searchContainer input {
  width: 100%;
  padding: 0.6rem;
  outline: none;
  border: none;
  font-size: 0.9rem;
}
.searchIcon {
  color: gray;
}

.right {
  padding-right: 2rem;
}
.icons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.icons * {
  cursor: pointer;
  color: rgb(0, 0, 0, 0.6);
}
.notifIcon,
.msgIcon {
  padding: 0.6rem;
  background-color: rgb(235, 235, 235);
  border-radius: 50%;
}

.profileImg {
  border-radius: 50%;
  background-color: rgb(235, 235, 235);
  object-fit: cover;
}
