.divLoading {
  height: 5rem;
  width: 5rem;
  border-bottom-width: 0.2rem;
  border-bottom-style: solid;
  border-bottom-color: rgb(0, 0, 0,.5);
  border-radius: 50%;
  animation: divLoad 0.5s linear infinite;
}
@keyframes divLoad {
  to {
    transform: rotateZ(-360deg);
  }
}
