.signin {
  width: 25rem;
}
.signinHeading {
  color: var(--primary_color);
}

.inputContainer {
  background: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
  border-radius: 0.2rem;
}
.inputContainer input {
  background: rgb(230, 230, 230);
  border: 1px solid rgb(230, 230, 230);
  color: rgb(0, 0, 0, 0.7);
}

.signinBtn,
.signinGoogleBtn {
  border-radius: 0.2rem;
  letter-spacing: 0.1rem;
  transition: 0.3s ease;
}
.signinBtn {
  background-color: var(--err_color) !important;
}
.signinBtn:hover {
  background-color: var(--err_color_1) !important;
}
.signinGoogleBtn {
  background-color: var(--primary_color);
}
.signinGoogleBtn:hover {
  background-color: var(--primary_color_1);
}

.signinPText:hover {
  color: var(--primary_color);
}
