.container {
  position: sticky;
  top: 4rem;
  overflow-y: scroll;
  height: calc(100vh - 4rem);
  border-left: 1px solid rgb(0, 0, 0, 0.1);
}
.container h4 {
  padding-top: 3rem;
  padding-left: 2rem;
  margin-bottom: 2rem;
}
.container a {
  text-decoration: none;
  color: black;
}
.users {
  padding: 0.7rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  margin-top: 0.5rem;
}
.users:hover {
  background-color: rgb(230, 230, 230);
}
.users img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  object-fit: cover;
}
