.container {
  padding-top: 1rem;
  box-shadow: 0 0.1rem 0.5rem rgb(0, 0, 0, 0.3);
  border-radius: 0.3rem;
  margin-top: 2rem;
}
.top {
  padding: 0 1rem;
  display: flex;
  align-items: center;
}
.author {
  margin-left: 1rem;
}
.author p {
  font-size: 0.9rem;
  color: gray;
}
.mid {
  margin: 1rem 0;
}
.mid p {
  margin: 1.5rem 0;
  padding: 0 1rem;
}
.mid img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
}
.bottom {
  margin-top: 1rem;
}
.counts {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
.counts p {
  color: gray;
  font-size: 0.8rem;
}
.actions {
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 1;
  cursor: pointer;
  padding: 0.7rem 0;
}
.iconContainer:hover {
  background-color: rgb(230, 230, 230);
}
.iconContainer span {
  color: rgb(0, 0, 0, 0.7);
}
