@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.primarycolor {
  color: #007bff;
}
.lightmode {
  background-color: #fff;
}
.darkmode {
  background-color: #0a1014;
  background-color: #111b21;
}
