name: Deploy MERN App

on:
  push:
    branches:
      - devops
  workflow_dispatch:

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Render Backend Deploy
        run: |
          curl -X POST "$RENDER_BACKEND_DEPLOY_HOOK"
        env:
          RENDER_BACKEND_DEPLOY_HOOK: ${{ secrets.RENDER_BACKEND_DEPLOY_HOOK }}

  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Vercel Frontend Deploy
        run: |
          curl -X POST "$VERCEL_FRONTEND_DEPLOY_HOOK"
        env:
          VERCEL_FRONTEND_DEPLOY_HOOK: ${{ secrets.VERCEL_FRONTEND_DEPLOY_HOOK }}
